# Entorno virtual
virtualenv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de bases de datos
*.sqlite3
*.db

# Directorios de subida
uploads/
vcards/

# Archivos de configuración local
*.env

# Archivos de respaldo
respaldo.txt
site_backup.db

# Archivos de logs
*.log

# Otros archivos sin seguimiento
*.txt

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Directorios de entornos de desarrollo
.vscode/
.idea/instance/site.db
