/* Tipografía Global */
body {
    background-image: url("/static/images/background.jpg"), url("/static/images/backup.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/* Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #03c0ff;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar la navbar */
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem; /* Aumentado de 1.5rem a 1.8rem */
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; /* Espacio entre logo y texto */
}

.nav-link {
    color: #555555 !important;
    transition: color 0.3s, transform 0.3s, background-color 0.3s;
    font-size: 1.0rem; /* Aumentado de 1.07rem a 1.2rem */
    padding: 0.5rem 1rem; /* Mayor área clicable */
    border-radius: 5px; /* Bordes redondeados */
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #03c0ff;
    left: 0;
    bottom: 0;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%; /* Subrayado animado al hacer hover */
}

.nav-link:hover {
    color: #03c0ff !important;
    transform: translateY(-2px); /* Subir ligeramente al pasar el cursor */
    background-color: rgba(3, 192, 255, 0.1); /* Fondo sutil al pasar el cursor */
}

.nav-link.active {
    color: #03c0ff !important;
    font-weight: 600; /* Aumentado de 500 a 600 para mayor énfasis */
    background-color: rgba(3, 192, 255, 0.2); /* Fondo para el enlace activo */
    border-bottom: 3px solid #03c0ff;
}

/* Dropdown Menus */
.dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
    background-color: #03c0ff;
    color: #ffffff;
}

/* Botones de la Cuenta */
.navbar-nav .dropdown-toggle::after {
    margin-left: 0.3em;
    vertical-align: 0.3em;
}

/* Responsividad para la Navbar */
@media (max-width: 992px) {
    .nav-link {
        font-size: 1rem; /* Reducido para pantallas pequeñas */
        padding: 0.5rem; /* Ajuste de padding */
    }
}

/* Ajustes Adicionales para Mejorar la Apariencia */
.navbar-light .navbar-nav .nav-link {
    color: #555555;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #03c0ff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #03c0ff;
}

/* Iconos en los Enlaces de Navegación */
.nav-link i {
    font-size: 1.1rem;
    vertical-align: middle;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    color: #555555;
}

footer a {
    color: #03c0ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .container {
    max-width: 1200px;
}

footer div {
    display: flex;
    align-items: center;
}

/* Botones Personalizados */
.btn-primary {
    background-color: #03c0ff;
    border-color: #03c0ff;
}

.btn-primary:hover {
    background-color: #02a8d1;
    border-color: #0290b8;
}

/* Jumbotron / Hero Section */
.jumbotron {
    background: linear-gradient(135deg, #ffffff 0%, #e6f7ff 100%);
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.jumbotron h1 {
    color: #03c0ff;
}

.jumbotron p {
    color: #555555;
}

/* Clase para el fondo de las secciones de servicios */
.service-background {
    background: linear-gradient(135deg, #ffffff 0%, #e6f7ff 100%);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: background 0.3s ease;
}

.service-background:hover {
    background: linear-gradient(135deg, #f0f8ff 0%, #d0e8ff 100%);
}

/* Estilo personalizado para el texto de precio */
.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    transition: color 0.3s ease;
    text-align: center;
}

.price:hover {
    color: #555555; /* Color más claro al pasar el cursor */
}

/* Cards */
.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #03c0ff;
}

/* Links */
a {
    color: #03c0ff;
    transition: color 0.3s;
}

a:hover {
    color: #0290b8;
    text-decoration: none;
}

/* Formularios */
.form-control {
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #03c0ff;
    box-shadow: none;
}

/* Estilo para el botón de eliminación con ícono */
form button {
    display: inline-block;
    margin: 0;
    padding: 0.25rem 0.75rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button i {
    margin: 0;
    font-size: 1rem;
    color: white;
}

form button:hover {
    background-color: #c82333;
}

/* Responsividad en dispositivos móviles */
@media (max-width: 768px) {
    form button {
        font-size: 0.8rem;
        padding: 0.2rem 0.6rem;
    }

    form button i {
        font-size: 0.9rem;
    }
}

/* Color de los títulos y subtítulos en los formularios */
.form-title,
.form-subtitle {
    color: #03c0ff;
}

.card-header-custom {
    background: linear-gradient(135deg, #ffffff 0%, #ccefff 100%);
    color: #333333;
}

/* Estilo para la imagen de perfil en Pulzcard */
.profile-image {
    width: 150px;
    height: 150px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

/* Estilo para enlaces, botones y textos en Pulzcard */
.text-primary,
.btn-outline-primary,
.btn-outline-secondary,
.text-primary.text-decoration-none {
    color: #03c0ff !important;
}

.text-primary:hover,
.btn-outline-primary:hover,
.btn-outline-secondary:hover {
    color: #0290b8 !important;
}

/* Estilos para el botón "Agregar Contacto" */
.btn-outline-primary {
    border-color: #03c0ff;
    color: #03c0ff;
}

.btn-outline-primary:hover {
    background-color: #e0f7ff;
    color: #0290b8;
    border-color: #0290b8;
}

/* Estilos para el botón "Compartir URL" */
.btn-outline-secondary {
    border-color: #03c0ff;
    color: #03c0ff;
}

.btn-outline-secondary:hover {
    background-color: #e0f7ff;
    color: #0290b8;
    border-color: #0290b8;
}

form .form-control {
    margin-bottom: 1.5rem;
}

form .form-check {
    margin-bottom: 1rem;
}

form .btn {
    padding: 0.5rem 1.5rem;
}

/* Estilos para las etapas del formulario de pedido */
form h4 {
    color: #03c0ff;
    margin-bottom: 1rem;
}

.form-check-label {
    margin-left: 0.5rem;
}

/* Estilos para el campo de cantidad */
#cantidad {
    max-width: 200px;
}

/* Botón de Envío personalizado */
#submitBtn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .row.justify-content-center {
        flex-direction: column;
    }

    #cantidad {
        max-width: 100%;
    }

    form h4 {
        font-size: 1.25rem;
    }

    img.rounded.shadow {
        width: 100%;
    }
}

/* Estilos para carga de archivos */
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    margin-left: 10px;
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font-size: 0.9rem;
}

.list-group-item button:hover {
    color: #cc0000;
}

/* Estilos para mensajes de error */
.text-danger {
    font-size: 0.9rem;
}

/* Estilos para alertas */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert {
    margin-top: 20px;
}

.text-muted {
    color: #a7a7a7 !important;
}

/* Estilos para la sección de Soluciones Personalizadas */
.custom-solutions-section {
    background: linear-gradient(135deg, #03c0ff 0%, #02a8d1 100%);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-solutions-section h4 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.solutions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.solution-item {
    flex: 1 1 220px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

/* Botones personalizados */
.btn-custom-white {
    /* Degradado de transparente a blanco */
    background: linear-gradient(to bottom, #9cd6fd, transparent);
    
    color: #ffffff; /* Color de ícono en blanco */
    border: 2px solid #ffffff; /* Borde en blanco */
    transition: background 0.3s, color 0.3s;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Opcional: añadir un poco de radio a las esquinas */
    border-radius: 4px;
}

.btn-custom-white:hover {
    background-color: #fede9d;
    color: #ffffff;
    border-color: #93f66f;
}

.btn-icon {
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Estilos para la sección Hero en login y register */
.hero-section {
    position: relative;
    overflow: hidden;
    height: 85vh; /* Ajustar según necesidad */
}

.hero-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 187, 255, 0.356);
    z-index: 2;
}

.hero-section .container-fluid {
    position: relative;
    z-index: 3;
}

.login-card, .register-card {
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparente */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 576px) {
    .login-card, .register-card {
        width: 90%;
        padding: 1.5rem;
    }
}

.content-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 576px) {
    h1.display-2 {
        font-size: 2rem;
    }
    p.lead {
        font-size: 1rem;
    }
    .btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
    .content-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* Ajustar márgenes y padding en secciones */
    section {
        margin: 20px 0;
    }
}

/* Ajustar imágenes */
img.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-highlight {
    color: #ffd700;
}

@media (max-width: 768px) {
    .hero-section .btn-stack {
        display: flex;
        flex-direction: column;
        gap: 15px; /* Espacio entre los botones en móvil */
        align-items: center;
    }
}

/* Estilos para la sección informativa */
.about-section {
    background-color: #f9f9f9;
}

.about-section .card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección de llamada a la acción */
.cta-section {
    background-image: linear-gradient(135deg, #03c0ff 0%, #02a8d1 100%);
    color: #ffffff;
}

.cta-section h2 {
    font-size: 2.5rem;
    color: #ffffff;
}

.cta-section p {
    font-size: 1.25rem;
}

.cta-section .btn-light {
    color: #03c0ff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.cta-section .btn-light:hover {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}

.custom-table {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #dddddd;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333333;
    background-color: #ffffff;
    text-align: center; /* Centra el contenido de las celdas */
}

.custom-table th,
.custom-table td {
    text-align: center; /* Centra el texto y los botones */
    vertical-align: middle; /* Asegura que el contenido esté alineado verticalmente */
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.custom-table th {
    background-color: #03c0ff;
    color: white;
    font-weight: 600;
    border-bottom: 2px solid #dddddd;
}

.custom-table tbody tr:hover {
    background-color: rgb(104, 245, 167); /* Efecto hover */
    color: white; /* Cambia el color del texto para mayor contraste */
}

.custom-table tbody tr:last-child td {
    border-bottom: none; /* Elimina la línea del último registro */
}

.custom-table td:last-child {
    width: 20%; /* Ajusta el ancho de la última columna */
}

.custom-table button {
    font-size: 0.9rem;
    margin: 0 5px;
    transition: transform 0.2s ease-in-out;
}

.custom-table button:hover {
    transform: scale(1.1); /* Efecto de agrandamiento para botones */
}