{% extends 'video_base.html' %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="col-lg-6 offset-lg-3 col-md-8 text-center">
    <div class="card p-4 shadow-lg" style="background: rgba(0, 187, 255, 0); backdrop-filter: blur(5px); border-radius: 1rem; width: 100%; max-width: 400px; margin: auto;">
        <h2 class="text-center mb-4 text-white">Cambiar Contraseña</h2>
        <form method="POST" action="{{ url_for('change_password') }}">
            {{ form.hidden_tag() }}
            
            <!-- Nueva Contraseña -->
            <div class="form-floating mb-3">
                {{ form.password(class="form-control", id="password", placeholder="Nueva Contraseña") }}
                <label for="password">Nueva Contraseña</label>
                {% for error in form.password.errors %}
                    <div class="form-text text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            
            <!-- Confirmar Nueva Contraseña -->
            <div class="form-floating mb-4">
                {{ form.confirm_password(class="form-control", id="confirm_password", placeholder="Confirmar Contraseña") }}
                <label for="confirm_password">Confirmar Contraseña</label>
                {% for error in form.confirm_password.errors %}
                    <div class="form-text text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            
            <!-- Botón de Envío -->
            <div class="d-grid">
                <button type="submit" class="btn btn-info btn-lg">
                    {{ form.submit.label.text }}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    /* Estilos específicos para el formulario de cambio de contraseña */
    .card {
        background-color: rgba(255, 255, 255, 0.85); /* Semi-transparente */
        backdrop-filter: blur(5px); /* Efecto de desenfoque */
    }

    /* Responsividad para pantallas pequeñas */
    @media (max-width: 576px) {
        .card {
            width: 90%;
            padding: 1.5rem;
        }
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    // Scripts específicos para la página de cambio de contraseña (si los hay)
</script>
{% endblock %}
