<!-- templates/contact.html -->
{% extends 'base.html' %}

{% block title %}Contacto - PulztagWeb{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Contáctanos</h2>
<p class="text-center mb-5">Estamos aquí para ayudarte. Completa el formulario a continuación y nos pondremos en
    contacto contigo lo antes posible.</p>

<!-- Mensajes Flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row justify-content-center">
    <div class="col-md-8">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="POST" action="{{ url_for('contact') }}">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com"
                    required>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="5" placeholder="Tu mensaje"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

<!-- Información de Contacto Section -->
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="custom-solutions-section text-center p-5 rounded shadow">
            <h4 class="text-white">Información de Contacto</h4>
            <p class="text-white">Para más información, no dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>
            <ul class="list-unstyled">
                <li><strong>Correo Electrónico:</strong> <a href="mailto:contacto@pulztag.com" class="text-white">contacto@pulztag.com</a></li>
                <li><strong>Teléfono:</strong> <a href="tel:+56962411963" class="text-white">+56962411963</a></li>
                <li><strong>Instagram:</strong> <a href="https://www.instagram.com/pulztag" target="_blank" class="text-white">@pulztag</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}