<!-- templates/contact.html -->

{% extends 'base.html' %}

{% block title %}Contacto - PulztagWeb{% endblock %}

{% block content %}

<h2 class="titulo-seccion">Contáctanos</h2>
<p class="text-center mb-5">Estamos aquí para ayudarte. Completa el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="POST" action="{{ url_for('contact') }}">
            {{ form.hidden_tag() }}  <!-- Esto incluye el CSRF token -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                {{ form.nombre(class="form-control", placeholder="Tu nombre", required=True) }}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                {{ form.email(class="form-control", placeholder="nombre@ejemplo.com", required=True) }}
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                {{ form.mensaje(class="form-control", rows="5", placeholder="Tu mensaje", required=True) }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

<!-- Línea de Separación -->
<hr class="my-5">

<!-- Información de Contacto Section -->
<section class="cta-section bg-info text-white py-5 mt-4">
    <div class="container text-center">
        <h2 class="text-white">Información de Contacto</h2>
        <p class="lead mb-4">Para más información, no dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>
        <ul class="list-unstyled">
            <li><strong>Correo Electrónico:</strong> <a href="mailto:contacto@pulztag.com" class="text-white">contacto@pulztag.com</a></li>
            <li><strong>Teléfono:</strong> <a href="tel:+56962411963" class="text-white">+56962411963</a></li>
            <li><strong>Instagram:</strong> <a href="https://www.instagram.com/pulztag" target="_blank" class="text-white">@pulztag</a></li>
        </ul>
    </div>
</div>

<!-- Línea de Separación -->
<hr class="my-5">

<style>
    .titulo-seccion {
        margin-top: 110px; /* Añade espacio superior */
    }
</style>
{% endblock %}