{% extends 'base.html' %}

{% block title %}Crear Item - PulztagWeb{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .card {
      transition: transform 0.3s ease;
      border-radius: 15px;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
    }
    .card-img-top {
      height: 300px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .card-title {
      color: #08567d;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    .btn-container {
      display: flex;
      justify-content: flex-end;  /* Alinea el botón a la derecha */
      align-items: center;
      border-top: 1px solid #dee2e6;
      padding-top: 15px;
      margin-top: 15px;           /* Aumenta un poco el espacio superior */
    }
    .btn-outline-secondary.btn-sm {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
      border-radius: 5px;
    }
    .card-body h5 {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="text-center">
    <h2 class="titulo-seccion mb-4">Crea tu Nuevo Ítem NFC</h2>
    <p class="lead mb-4">
      Elige entre nuestras <strong>soluciones NFC personalizadas</strong> y comienza a compartir información de manera innovadora y eficiente.
    </p>
  </div>
  <section class="services-section">
    <div class="row justify-content-center">
      <!-- Opción Etiqueta NFC Interactiva -->
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up">
        <div class="card h-100 shadow-sm border-0">
          <img src="{{ url_for('static', filename='images/tags_form_v2.png') }}" class="card-img-top" alt="Etiqueta NFC Interactiva">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary">Etiqueta NFC Interactiva</h5>
            <div class="btn-container">
              <a href="{{ url_for('create_tag') }}" class="btn btn-outline-secondary btn-sm">Crear tu Etiqueta</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Opción Encuestas Personalizadas -->
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up">
        <div class="card h-100 shadow-sm border-0">
          <img src="{{ url_for('static', filename='images/encuestas_nv2.png') }}" class="card-img-top" alt="Encuestas Personalizadas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary">Encuestas Personalizadas</h5>
            <div class="btn-container">
              <a href="{{ url_for('profile') }}" class="btn btn-outline-secondary btn-sm">Crear Nueva Encuesta</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Opción Storetag (Inventario NFC) -->
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up">
        <div class="card h-100 shadow-sm border-0">
          <img src="{{ url_for('static', filename='images/storetag_form_v2.png') }}" class="card-img-top" alt="Storetag (Inventario NFC)">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary">Storetag (Inventario NFC)</h5>
            <div class="btn-container">
              <a href="{{ url_for('create_bodega') }}" class="btn btn-outline-secondary btn-sm">Crea tu Storetag</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Opción Tarjetas de Contacto vCard -->
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up">
        <div class="card h-100 shadow-sm border-0">
          <img src="{{ url_for('static', filename='images/pulzcard_form_v2.png') }}" class="card-img-top" alt="Tarjetas de Contacto vCard">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary">Tarjetas Inteligentes</h5>
            <div class="btn-container">
              <a href="{{ url_for('pulzcard') }}" class="btn btn-outline-secondary btn-sm">Crear tu Pulzcard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      AOS.init({
        duration: 800,
        easing: 'slide',
        once: true
      });
    });
  </script>
{% endblock %}