<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Pulztag{% endblock %}</title>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-yHLOuw7MZ9Epjg6bQF+H9TQpvbIhFGHtf4mKje5G1Vj8V0G9/D8UpDqXlwCp4+jbg0y+6dV+lO84Sw9G2KzF0A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- CSS Personalizado con Parámetro de Versión para Evitar Caché -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1.0">

{% block head %}{% endblock %}