<!-- templates/index.html -->
{% extends 'video_base.html' %}

{% block title %}Inicio - PulztagWeb{% endblock %}

{% block video_content %}
<div class="col-lg-7 col-md-8 text-center text-lg-start">
    <div class="content-wrapper px-4 px-md-5">
        <h1 class="display-2 fw-bold mb-4 text-white" data-aos="fade-up">
            Transforma tu Negocio con <span class="text-highlight">Tecnología NFC</span>
        </h1>
        <p class="lead mb-5 text-white" data-aos="fade-up" data-aos-delay="200">
            Dispositivos NFC personalizados y servicios a medida para impulsar tu crecimiento.
        </p>
        <div class="btn-stack">
            <a href="{{ url_for('create_item') }}" class="btn btn-dark bg-gradient btn-lg" data-aos="fade-up" data-aos-delay="400">
                Obtén tu Pulztag Gratis
            </a>
            <a href="{{ url_for('contact') }}" class="btn btn-outline-light btn-lg" data-aos="fade-up" data-aos-delay="600">
                Contáctanos
            </a>
        </div>
    </div>
</div>
{% endblock %}